* {
  padding: 0;
  margin: 0;
  border: 0;
}

* *,
* *:before,
* *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* :focus,
* :active {
  outline: none;
}

* a:focus,
* a:active {
  outline: none;
}

* nav,
* footer,
* header,
* aside {
  display: block;
}

* html,
* body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* input,
* button,
* textarea {
  font-family: inherit;
}

* input::-ms-clear {
  display: none;
}

* button {
  cursor: pointer;
}

* button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

* a,
* a:visited {
  text-decoration: none;
}

* a:hover {
  text-decoration: none;
}

* ul li {
  list-style: none;
}

* img {
  vertical-align: top;
}

* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hi {
  padding: 50px 0;
  background: #445162;
}

.hi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hi__body {
  padding: 0 20px 0 0;
  color: white;
}

.hi__title {
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0px;
  font-size: 60px;
  margin: 0 0 40px 0;
}

.hi__list li {
  background: url("./img/icons/icon.png") 0 1px no-repeat;
  padding: 0 0 0 36px;
  font-size: 20px;
  margin: 0 0 15px 0;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0px;
}

.hi__list li:last-child {
  margin: 0;
}

.hi__image img {
  width: 100%;
}

.what {
  padding: 50px 0;
}

.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
}

.what__body {
  padding: 0 0 0 38px;
}

.what__title {
  margin: 0 0 35px 0;
}

.what__text {
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}

.what__text p {
  margin: 0 0 15px 0;
}

.what__text p:last-child {
  margin: 0;
}

.columns {
  padding: 50px 0 20px 0;
  background: #f5f5f5;
}

.columns__title {
  text-align: center;
  margin: 0 0 30px 0;
}

.columns__row {
  margin: 0 -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.columns__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 8px;
  margin: 0 0 30px 0;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.item__image img {
  max-width: 100%;
}

.item__body {
  padding: 0 0 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item__title {
  font-size: 24px;
  color: #445161;
  margin: 0 0 15px 0;
}

.item__text {
  font-size: 16px;
  line-height: 1.5;
}

.vertical {
  padding: 50px 0;
}

.vertical__title {
  text-align: center;
  margin: 0 0 30px 0;
}

.vertical__body {
  max-width: 990px;
  margin: 0 auto;
}

.vertical__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -22.5px;
}

.vertical__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vertical__item {
  background-color: #445162;
  border: 1px solid #445162;
  border-radius: 5px;
  color: #fff;
  padding: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vertical__subtitle {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  padding: 15px 0;
}

.vertical__label {
  color: #445162;
  background-color: #fff;
  text-align: center;
  font-size: 40px;
  padding: 12px 0;
}

.vertical__text {
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.vertical__text p {
  margin: 0 0 15px;
}

.vertical__text p:last-child {
  margin: 0;
}

.vertical__btn {
  display: block;
  background: #fff;
  color: #445161;
  margin: 0 20px;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}

.vertical__column_1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.vertical__column_3 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.title {
  color: #445162;
  font-size: 30px;
}

.footer {
  background: #f5f5f5;
}

.footer__row {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 12px;
  color: #445162;
  letter-spacing: 0.3px;
}
