* {
  padding: 0;
  margin: 0;
  border: 0;
}

* *,
* *:before,
* *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* :focus,
* :active {
  outline: none;
}

* a:focus,
* a:active {
  outline: none;
}

* nav,
* footer,
* header,
* aside {
  display: block;
}

* html,
* body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* input,
* button,
* textarea {
  font-family: inherit;
}

* input::-ms-clear {
  display: none;
}

* button {
  cursor: pointer;
}

* button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

* a,
* a:visited {
  text-decoration: none;
}

* a:hover {
  text-decoration: none;
}

* ul li {
  list-style: none;
}

* img {
  vertical-align: top;
}

* h1,
* h2,
* h3,
* h4,
* h5,
* h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 1440px;
  height: 1700px;
  margin: 0 auto;
  padding: 100px;
  background-color: #e8e8e8;
}

.list-one,
.list-two {
  height: 125px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 70px 0;
}

.list-one li,
.list-two li {
  padding: 0 0 17px 30px;
  font-family: Arial;
  font-size: 20px;
}

.list-one li::before,
.list-two li::before {
  content: "";
  width: 25px;
  height: 19px;
  display: inline-block;
  background: url("../img/icons/check-icon.png") no-repeat;
}

.submit button {
  padding: 0 10px 15px;
  border-radius: 30px;
  width: 199px;
  height: 44px;
  background-color: #81b8b5;
  font-family: Arial;
  line-height: 44px;
  letter-spacing: 2.8px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 30px;
  display: inline-block;
}

.submit button::after {
  content: "";
  width: 21px;
  height: 14px;
  display: inline-block;
  background: url("../img/icons/arrow.svg") center no-repeat;
}

.form {
  margin: 30px 0 0 0;
}

.form input {
  height: 50px;
  width: 250px;
  margin: 0 20px 0 20px;
  border: 1px solid #b0b0b0;
}

.list-one li:nth-child(1) {
  text-decoration: line-through;
}

.list-one li:nth-child(2) {
  font-weight: 700;
}

.list-one li:nth-child(3) {
  font-style: italic;
}

.list-one li:nth-child(4) {
  text-transform: uppercase;
}

.list-two li:hover {
  color: red;
}

.submit button:nth-child(2):hover {
  background-color: #3a5856;
}

.submit button:nth-child(3):active {
  background-color: #818181;
}

.form input:last-child:focus {
  -webkit-box-shadow: 0 0 20px 0 rgba(127, 190, 213, 0.93);
          box-shadow: 0 0 20px 0 rgba(127, 190, 213, 0.93);
  border: solid 1px #7fbed5;
}

.text p {
  font-size: 24px;
  line-height: 40px;
  margin: 40px 0;
}

.paragraph-one::first-line {
  color: red;
}

.paragraph-two::first-letter {
  font-size: 40px;
  color: green;
}
