// Обнуление стилей
@import "nullstyle.scss";

// Основные стили

.wrapper {
	width: 1440px;
	height: 1700px;
	margin: 0 auto;
	padding: 100px;
	background-color: #e8e8e8;
}

.list-one,
.list-two {
	height: 125px;
	margin: 70px 0;
}

.list-one li,
.list-two li {
	padding: 0 0 17px 30px;
	font-family: Arial;
	font-size: 20px;
	background: url("../img/icons/check-icon.png") no-repeat;
}

.submit button {
	padding: 0 27px 15px 10px;
	border-radius: 30px;
	width: 199px;
	height: 44px;
	background-color: #81b8b5;
	font-family: Arial;
	line-height: 44px;
	letter-spacing: 2.8px;
	color: #fff;
	text-transform: uppercase;
	background: #81b8b5 url("../img/icons/arrow.svg") 160px center no-repeat;
	margin: 0 30px;
}

.form {
	margin: 30px 0 0 0;
}

.form input {
	height: 50px;
	width: 250px;
	margin: 0 20px 0 20px;
	border: 1px solid #b0b0b0;
}

.list-one li:nth-child(1) {
	text-decoration: line-through;
}

.list-one li:nth-child(2) {
	font-weight: 700;
}

.list-one li:nth-child(3) {
	font-style: italic;
}

.list-one li:nth-child(4) {
	text-transform: uppercase;
}

.list-two li:hover {
	color: red;
}

.submit button:nth-child(2):hover {
	background-color: #3a5856;
}

.submit button:nth-child(3):active {
	background-color: #818181;
}

.form input:last-child:focus {
	box-shadow: 0 0 20px 0 rgba(127, 190, 213, 0.93);
	border: solid 1px #7fbed5;
}
